# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html
# export-ignore   作為發佈的檔案時, 忽略這些檔案
#

* text=auto
*.md diff=markdown
*.php diff=php

/.gitattributes     export-ignore
/.gitignore         export-ignore
/.editorconfig      export-ignore
/.php-cs-fixer.php  export-ignore
/tests              export-ignore

docker-compose.yml  export-ignore
phpunit.xml         export-ignore
CHANGELOG.md        export-ignore
