/node_modules
/storage/*.key
/vendor
/.DS_Store
/.idea
/.vscode
npm-debug.log
yarn-error.log
.env
.php_cs.cache
.php-cs-fixer.cache
.php-cs-fixer.php
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
