APP_NAME:               example-test-only
DEPLOY_TO:              /opt/www/{{ APP_NAME }}
REPO:                   git@github.com:OnrampLab/laravel-starter.git
GIT_IDENTITY_KEY_PATH:  ~/.ssh/id_rsa
STAGING_HOST:           example-staging
PRODUCTION_HOST:        example-production
